_2.vcs/my_vcs_lesson_c_example/_bookbook/VCS2013程式設計經典/ch23/DBWebService/DBWebService/Service References/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectBook">
        <s:complexType />
      </s:element>
      <s:element name="SelectBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectBookResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="書號" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="書名" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="單價" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="數量" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBookResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="書號" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="書名" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="單價" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="數量" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBookResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="書號" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBookResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectBookSoapIn">
    <wsdl:part name="parameters" element="tns:SelectBook" />
  </wsdl:message>
  <wsdl:message name="SelectBookSoapOut">
    <wsdl:part name="parameters" element="tns:SelectBookResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBookSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBook" />
  </wsdl:message>
  <wsdl:message name="InsertBookSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBookResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBookSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="UpdateBookSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBookSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="DeleteBookSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="SelectBook">
      <wsdl:input message="tns:SelectBookSoapIn" />
      <wsdl:output message="tns:SelectBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBook">
      <wsdl:input message="tns:InsertBookSoapIn" />
      <wsdl:output message="tns:InsertBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input message="tns:UpdateBookSoapIn" />
      <wsdl:output message="tns:UpdateBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input message="tns:DeleteBookSoapIn" />
      <wsdl:output message="tns:DeleteBookSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectBook">
      <soap:operation soapAction="http://tempuri.org/SelectBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBook">
      <soap:operation soapAction="http://tempuri.org/InsertBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="http://tempuri.org/UpdateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectBook">
      <soap12:operation soapAction="http://tempuri.org/SelectBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBook">
      <soap12:operation soapAction="http://tempuri.org/InsertBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap12:operation soapAction="http://tempuri.org/UpdateBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap12:operation soapAction="http://tempuri.org/DeleteBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:43005/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:43005/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>